@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

html,
body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
}

.toolbar-desktop {
  display: none;
}

.main {
  width: 100%;
}

/* JS DOM manipulation //////////////////////////////////// */

/* hamburger icon ///////////////////////////////////////// */

.mobile-menu.hidden,
.hamburger-icon.hidden {
  display: none;
}

.mobile-menu {
  width: 100%;
  height: 100%;
  color: #3a4a42;
  background-color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: fixed;
  inset: 0;
  margin: auto;
  padding: 61px 32px 61px 28px;
  display: flex;
  flex-direction: column;
}

.toolbar-mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 8px;
}

.toolbar-mobile-menu h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  padding: 8px 16px;
}

.close {
  align-self: flex-end;
  padding-bottom: 12px;
}

/* popUp window /////////////////////////////////////////// */

.main.blur {
  background-color: #c1c7d0;
  filter: blur(100px);
}

.popup-window.hidden {
  display: none;
}

.popup-window {
  border: 1px solid #dfe1e6;
  background-color: white;
  border-radius: 16px;
  width: 343px;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 12px;
  z-index: 1;
}

.pop-image-and-close {
  width: 100%;
  height: 220px;
  margin: 0 auto;
  background-image: url(images/backgrounds/snapshoot-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
  border-radius: 8px;
}

.pop-close {
  width: 25px;
  height: 25px;
  margin-top: 15.5px;
  margin-right: 14px;
  cursor: pointer;
}

.pop-project-name,
.pop-project-name-desk {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-align: left;
  color: #172b4d;
}

.pop-languages {
  display: flex;
  column-gap: 8px;
}

.pop-languages-1,
.pop-languages-2,
.pop-languages-3 {
  background-color: #ebf0ee;
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
}

.pop-lorem {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.pop-see-live-and-source,
.pop.pop-see-live-and-source-desk {
  display: flex;
  justify-content: space-between;
  column-gap: 12px;
}

.pop-see-live,
.pop-see-source {
  background-color: #36b37f;
  padding: 12px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  column-gap: 12px;
  font-size: 17px;
  color: white;
}

.pop-see-live-text,
.pop-see-source-text {
  color: white;
}

/* app bar //////////////////////////// */
.app-bar {
  height: 92px;
}

.status-bar {
  height: 44px;
}

.toolbar {
  height: 48px;
  padding: 0 24px 0 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.log-placeholder {
  font-size: 20px;
  font-weight: 600;
  color: #28352f;
}

.log-placeholder:hover {
  color: #ebf0ee;
}

.log-placeholder:active {
  color: #36b37e;
  background-color: #008552;
}

.log-placeholder:visited {
  color: #008552;
}

.hamburger-icon {
  display: flex;

  /* this way the icon is centered */
  cursor: pointer;
}

/* headline /////////////////////////// */

.headline {
  color: #172b4d;
  text-align: center;
  background-image: url(images/backgrounds/header-illsutration-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 64px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 58px;
}

h1,
.primary h2 {
  font-weight: 700;
  font-size: 40px;
}

.i-am-a {
  color: #36b37e;
}

.supporting-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  padding: 20px 0;
}

.action {
  display: flex;
  justify-content: center;
}

/* recent-works  /////////////////////// */

.recent-works {
  padding: 24px;
  text-align: center;
  width: 100%;
}

.text {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.card-work-row {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 24px;
}

.card {
  height: 400px;
  width: 100%;
  background-color: #ebf0ee;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 5px solid #d0d9d4;
  border-radius: 8px;
}

.project-anchor {
  height: 40%;
}

.img-book-a-concert,
.img-budget-tracker,
.img-recipes-app,
.img-dani-milo-movies,
.img-air-pollution,
.img-luxury-cars {
  height: 100%;
  border-radius: 3px;
  border-bottom: 1px solid gray;
  background-size: 100% 100%;
}

.img-book-a-concert {
  background-image: url(./images/projects/book_a_concert.jpeg);
}

.img-budget-tracker {
  background-image: url(./images/projects/budget_tracker.png);
}

.img-recipes-app {
  background-image: url(./images/projects/recipes.png);
}

.img-dani-milo-movies {
  background-image: url(./images/projects/movies.png);
}

.img-air-pollution {
  background-image: url(./images/projects/air_pollution.png);
}

.img-luxury-cars {
  background-image: url(./images/projects/luxury_cars.png);
}

.text-box {
  height: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
}

.project-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
  padding: 0 16px;
}

.tags {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  background-color: #ebf0ee;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
  padding: 8px 12px;
  border-radius: 4px;
}

.see-project {
  background-color: #36b37f;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: white;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

#submit {
  color: black;
  border: none;
}

.see-project:hover,
#submit:hover {
  color: #ebf0ee;
}

.see-project:active,
#submit:active {
  color: #fff;
  background-color: #008552;
}

/* about me /////////////////////////// */

.about-me {
  padding: 60px 12px;
}

.about-text {
  background-image: url(images/backgrounds/top.svg), url(images/backgrounds/bottom.svg);
  background-repeat: no-repeat;
  background-position: right top, left bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 22px;
  padding-bottom: 50px;
}

.primary-text {
  font-weight: 700;
  line-height: 52px;
  font-size: 40px;
  color: #172b4d;
}

.supporting-text-1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
}

/* .see-project{ } is actually done previously */

.about-cards {
  display: grid;
  row-gap: 24px;
}

.card-works {
  height: 350px;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.img-icon {
  background-color: white;
  padding: 20px;
  border-radius: 50%;
}

.languages-title {
  /* margin-top: -80px; */
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
}

.about-tags {
  width: 95%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 12px;
}

.about-tag {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #36b37e;
  background-color: white;
  padding: 12px 12px;
  border-radius: 8px;
}

/* CONTACT-FORM /////////////////////// */

.contact-form {
  width: 100%;

  /* height: 780px; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  column-gap: 25px;
  row-gap: 25px;
  align-items: center;
  background-image: url(images/backgrounds/illustration-contact-form.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.contact-form-text {
  margin: 0 auto;
  width: 90%;
  height: 40%;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  color: #172b4d;
  display: block;
  align-items: center;
}

.form {
  height: 40%;
  width: 90%;
  display: flex;
  column-gap: 25px;
  row-gap: 25px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

label {
  display: none;
}

.input-field {
  width: 100%;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.single {
  padding: 15px 16px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

#message {
  padding: 12px;
  border: 1px solid #36b37e;
  border-radius: 4px;
}

#message::placeholder {
  color: #091e42;
}

#message::-webkit-scrollbar {
  background-color: red;
  color: red;
}

#supporting-text {
  padding: 17px 0 200px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
}

#error-message {
  color: red;
  font-weight: 500;
  font-size: 17px;
  line-height: 32px;
}

.pop-close-desk {
  cursor: pointer;
  display: none;
}

.pop-project-name-and-live-and-source-desk {
  display: none;
}

.pop-languages-desk {
  display: none;
}

/* desktop version //////////////////// */

@media screen and (min-width: 888px) {
  body {
    width: 100%;
  }

  .popup-window {
    width: 920px;
    height: 100%;
  }

  .pop-close-desk {
    display: block;
    background-color: #ebecf0;
    width: 40px;
    height: 40px;
    padding: 13px;
    border-radius: 8px;
    align-self: self-end;
  }

  .pop-image-and-close {
    height: 616px;
    background-image: url(images/backgrounds/snapshoot-desktop.svg);
  }

  .pop-close {
    display: none;
  }

  .pop-project-name-desk {
    width: 60%;
  }

  .pop-project-name-and-live-and-source-desk {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .pop-see-live-and-source-desk {
    display: flex;
    column-gap: 12px;
  }

  .pop-see-live-image,
  .pop-see-source-image {
    width: 20px;
    height: 20px;
  }

  .pop-project-name,
  .pop-see-live-and-source.mobile {
    display: none;
  }

  .pop-languages {
    display: none;
  }

  .pop-languages-desk {
    display: flex;
    column-gap: 8px;
  }

  /* headline /////////////////////////// */

  .app-bar-and-headline-container {
    background-image: url(images/backgrounds/desktop-header-llustration.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .toolbar {
    display: none;
  }

  .toolbar-desktop {
    display: flex;
    justify-content: center;
    column-gap: 50px;
  }

  .headline {
    width: 920px;
    background-image: none;
    margin: 0 auto;
  }

  /* recent-works  /////////////////////// */

  .recent-works .text {
    padding: 100px 0 40px 0;
  }

  .indicator {
    display: none;
  }

  .card-work-row {
    grid-template-columns: repeat(3, 1fr);

    /* 3 columns with equal width */
    grid-template-rows: repeat(2, 1fr);
    column-gap: 24px;
    padding: 0;
  }

  /* about me /////////////////////////// */

  .about-me {
    padding: 60px 134px;
  }

  .about-text {
    padding: 0 122px;
  }

  .supporting-text-1 {
    padding: 0 70px;
  }

  .about-cards {
    padding-top: 50px;
    grid-template-columns: repeat(3, 1fr);

    /* 3 columns with equal width */
    column-gap: 24px;
  }

  .about-me .about-text {
    padding-bottom: 50px;
  }

  /* CONTACT-FORM /////////////////////// */

  .contact-form {
    background-image: url(images/backgrounds/desktop-contact.svg);
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding: 150px 127px 0 127px;
  }

  .contact-form-text {
    text-align: left;
    padding: 0 20px;
    height: 38%;
    width: 100%;
    font-size: 20px;
  }

  .form {
    height: 50%;
    width: 55%;
    align-items: flex-start;
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
  }

  #supporting-text {
    display: none;
    padding: 0 20px;
  }
}
