@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* { /* initial configuration */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;

  /* border: 1px solid red; */
}

body {
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
}

.toolbar-desktop {
  display: none;
}

/* JS DOM manipulation //////////////////////////////////// */

.overflow {
  overflow: hidden;
}

.mobile-menu.hidden,
.hamburger-icon.hidden {
  display: none;
}

.mobile-menu {
  width: 100%;
  height: 100%;
  color: #3a4a42;
  background-color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: fixed;
  inset: 0;
  margin: auto;
  padding: 61px 32px 61px 28px;
}

.toolbar-mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.toolbar-mobile-menu h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.close {
  float: right;
}

/* app bar //////////////////////////// */
.app-bar {
  height: 92px;
}

.status-bar {
  height: 44px;
}

.toolbar {
  height: 48px;
  padding: 0 24px 0 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.log-placeholder {
  font-size: 20px;
  font-weight: 600;
  color: #28352f;
}

.log-placeholder:hover {
  color: #ebf0ee;
}

.log-placeholder:active {
  color: #36b37e;
  background-color: #008552;
}

.log-placeholder:visited {
  color: #008552;
}

.hamburger-icon {
  display: flex; /* this way the icon is centered */
}

/* headline /////////////////////////// */

.headline {
  color: #172b4d;
  text-align: center;
  background-image: url(images/backgrounds/header-illsutration-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 64px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 58px;
}

h1,
.primary h2 {
  font-weight: 700;
  font-size: 40px;
}

.i-am-a {
  color: #36b37e;
}

.supporting-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  padding: 20px 0;
}

.action {
  display: flex;
  justify-content: center;
}

/* recent-works  /////////////////////// */

.recent-works {
  padding: 24px;
  text-align: center;
}

.text {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.card-work-row {
  display: grid;
  row-gap: 24px;
  padding: 30px 0;
}

.card {
  height: 475px;
  background-color: #ebf0ee;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.text-box {
  height: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
}

.project-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
  padding: 0 16px;
}

.tags {
  display: flex;
  column-gap: 8px;
}

.tag {
  background-color: #ebf0ee;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
  padding: 8px 12px;
  border-radius: 4px;
}

.see-project {
  background-color: #36b37f;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: white;
  padding: 12px;
  border-radius: 4px;
}

.see-project:hover {
  color: #ebf0ee;
}

.see-project:active {
  color: #fff;
  background-color: #008552;
}

/* about me /////////////////////////// */

.about-me {
  padding: 60px 12px;
}

.about-text {
  background-image: url(images/backgrounds/top.svg), url(images/backgrounds/bottom.svg);
  background-repeat: no-repeat;
  background-position: right top, left bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 22px;
  padding-bottom: 50px;
}

.primary-text {
  font-weight: 700;
  line-height: 52px;
  font-size: 40px;
  color: #172b4d;
}

.supporting-text-1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
}

/* .see-project{ } is actually done previously */

.about-cards {
  display: grid;
  row-gap: 24px;
}

.card-works {
  height: 350px;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.img-icon {
  background-color: white;
  padding: 20px;
  border-radius: 50%;
}

.languages-title {
  margin-top: -80px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
}

.about-tags {
  margin-top: -90px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 12px;
}

.about-tag {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #36b37e;
  background-color: white;
  padding: 12px 12px;
  border-radius: 8px;
}

/* CONTACT-FORM /////////////////////// */

.contact-form {
  width: 100%;
  height: 780px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(images/backgrounds/illustration-contact-form.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.contact-form-text {
  margin: 0 auto;
  width: 90%;
  height: 40%;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  align-items: center;
}

.form {
  height: 40%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

label {
  display: none;
}

.input-field {
  width: 100%;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.single {
  padding: 15px 16px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

#message {
  padding: 12px;
  border: 1px solid #36b37e;
  border-radius: 4px;
}

#message::placeholder {
  color: #091e42;
}

#message::-webkit-scrollbar {
  background-color: red;
  color: red;
}

#submit {
  border: none;
}

#supporting-text {
  padding: 17px 0 200px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
}

/* desktop version //////////////////// */

@media screen and (min-width: 768px) {
  body {
    width: 1440px;
  }

  /* headline /////////////////////////// */

  .app-bar-and-headline-container {
    background-image: url(images/backgrounds/desktop-header-llustration.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .toolbar {
    display: none;
  }

  .toolbar-desktop {
    display: flex;
    justify-content: center;
    column-gap: 50px;
  }

  .headline {
    width: 920px;
    background-image: none;
    margin: 0 auto;
  }

  /* recent-works  /////////////////////// */

  .recent-works .text {
    padding: 100px 0 40px 0;
  }

  .indicator {
    display: none;
  }

  .card-work-row {
    grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
    grid-template-rows: repeat(2, 1fr);
    column-gap: 24px;
    padding: 0 134px;
  }

  /* about me /////////////////////////// */

  .about-me {
    padding: 60px 134px;
  }

  .about-text {
    padding: 0 122px;
  }

  .supporting-text-1 {
    padding: 0 70px;
  }

  .about-cards {
    padding-top: 50px;
    grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
    column-gap: 24px;
  }

  .about-me .about-text {
    padding-bottom: 50px;
  }

  /* CONTACT-FORM /////////////////////// */

  .contact-form {
    background-image: url(images/backgrounds/desktop-contact.svg);
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding: 150px 127px 0 127px;
  }

  .contact-form-text {
    text-align: left;
    padding: 0 20px;
    height: 38%;
    width: 45%;
    font-size: 30px;
  }

  .form {
    height: 50%;
    width: 55%;
    align-items: flex-start;
  }

  #supporting-text {
    display: none;
    padding: 0 20px;
  }
}
