@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* { /* initial configuration */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  /* border: 1px solid greenyellow; */
}

@media (min-width: 375px) {
  body {
    width: 375px;
  }
}

@media (min-width: 768px) {
  body {
    width: 768px;
  }
}

body {
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
}

/* app bar //////////////////////////// */
.app-bar {
  height: 92px;
}

.status-bar {
  height: 44px;
}

.toolbar {
  height: 48px;
  padding: 0 24px 0 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.log-placeholder {
  font-size: 20px;
  font-weight: 600;
  color: #28352f;
}

.log-placeholder:hover {
  color: #ebf0ee;
}

.log-placeholder:active {
  color: #36b37e;
  background-color: #008552;
}

.log-placeholder:visited {
  color: #008552;
}

.hamburger-icon {
  display: flex; /* this way the icon is centered */
}

/* headline /////////////////////////// */

.headline {
  color: #172b4d;
  text-align: center;
  background-image: url(images/backgrounds/header-illsutration-mobile.svg);
  background-repeat: no-repeat;
  padding: 64px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 58px;
}

h1,
.primary h2 {
  font-weight: 700;
  font-size: 40px;
}

.i-am-a {
  color: #36b37e;
}

.supporting-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.action {
  display: flex;
  justify-content: center;
}

/* recent-works  /////////////////////// */

.recent-works {
  padding: 24px;
  text-align: center;
}

.text {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.card-work-row {
  display: grid;
  row-gap: 24px;
  padding: 30px 0;
}

.card {
  height: 475px;
  background-color: #ebf0ee;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.text-box {
  height: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
}

.project-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
}

.tags {
  display: flex;
  column-gap: 8px;
}

.tag {
  background-color: #ebf0ee;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
  padding: 8px 12px;
  border-radius: 4px;
}

.see-project {
  background-color: #36b37f;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: white;
  padding: 12px;
  border-radius: 4px;
}

.see-project:hover {
  color: #ebf0ee;
}

.see-project:active {
  color: #fff;
  background-color: #008552;
}

/* about me /////////////////////////// */

.about-me {
  padding: 60px 12px;
}

.about-text {
  background-image: url(images/backgrounds/top.svg), url(images/backgrounds/bottom.svg);
  background-repeat: no-repeat;
  background-position: right top, left bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 22px;
  padding-bottom: 50px;
}

.primary-text {
  font-weight: 700;
  line-height: 52px;
  font-size: 40px;
  color: #172b4d;
}

.supporting-text-1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
}

/* .see-project{ } is actually done previously */

.about-cards {
  display: grid;
  row-gap: 24px;
}

.card-works {
  height: 350px;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.img-icon {
  background-color: white;
  padding: 20px;
  border-radius: 50%;
}

.languages-title {
  margin-top: -80px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
}

.about-tags {
  margin-top: -90px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 12px;
}

.about-tag {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #36b37e;
  background-color: white;
  padding: 12px 12px;
  border-radius: 8px;
}

/* CONTACT-FORM /////////////////////// */

.contact-form {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact-form-text {
  height: 40%;
}

.form {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
