@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* { /* initial configuration */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  /* border: 1px solid red; */
}

@media (min-width: 375px) {
  body {
    width: 375px;
  }
}

@media (min-width: 768px) {
  body {
    width: 768px;
  }
}

body {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
}

/* app bar //////////////////////////// */
.app-bar {
  height: 92px;
}

.status-bar {
  height: 44px;
}

.toolbar {
  height: 48px;
  padding: 0 24px 0 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.log-placeholder {
  font-size: 20px;
  font-weight: 600;
  color: #28352f;
}

.log-placeholder:hover {
  color: #ebf0ee;
}

.log-placeholder:active {
  color: #36b37e;
}

.hamburger-icon {
  display: flex; /* this way the icon is centered */
}

/* headline /////////////////////////// */

.headline {
  color: #172b4d;
  text-align: center;
  background-image: url(images/backgrounds/header-illsutration-mobile.svg);
  background-repeat: no-repeat;
  padding: 64px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 58px;
}

h1,
.primary h2 {
  font-weight: 700;
  font-size: 40px;
}

.i-am-a {
  color: #36b37e;
}

.supporting-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.action {
  display: flex;
  justify-content: center;
}

/* recent-works /////////////////////// */

.recent-works {
  padding: 24px;
  text-align: center;
}

.text {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.card-work-row {
  display: grid;  
  row-gap: 24px;
  padding: 82px 0;
}

.card {
  height: 475px;
  background-color: #D0D9D4;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 1px solid red;
  border-radius: 8px;
}

.text-box {
  height: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.project-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
}

.tags {
  display: flex;
  column-gap: 8px;
}

.tag {
  background-color: #EBF0EE;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
  padding: 8px 12px;
  border-radius: 4px;
}

.see-project {
  background-color: #36B37F;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 12px;
  border-radius: 4px;
}
